__pycache__/
build/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env/
lib/
lib64/
parts/
sdist/
var/

pip-log.txt

.coverage
.cache
.installed.cfg
.tox/

*.egg-info/
*.egg
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.spec
